<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <mat-icon>face</mat-icon>
      <span>Angelo Fabrizio Meza Moina</span>
    </div>
    <div class="navbar-links">
      <a class="nav-link" routerLink="/companies" routerLinkActive="active">
        <mat-icon>domain</mat-icon>
        <span>Compañias</span>
      </a>
      <a class="nav-link" routerLink="/customers" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span>Clientes</span>
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
